<div class="px-[2%] md:px-[5%] lg:px-[10%]">
    <h1 class="lg:text-[2.8rem] mb-2 text-center text-[2.5rem] py-[43px]">Los chefs de este año</h1>
    <div class="flex flex-col gap-[40px_50px] content-center items-center justify-center md:flex-wrap md:items-stretch md:flex-row md:gap-[75px_30px]">
        <div class="chefcard">
            <img src="./assets/images/chef_1.jpg?as=webp" class="rounded-[3px]" alt="Raquel Herrera"
              loading="lazy">
            <div class="p-4">
              <h5 class="mb-2 leading-tight text-center text-[1.6rem] md:text-[1.25rem]">Raquel Herrera</h5>
              <p class="mb-0 text-center text-[1.1rem] md:text-[1rem]">Raquel tiene una ámplia experiencia en repostería y este año piensa
                darlo todo para ganar el primer premio.</p>
            </div>
          </div>

          <div class="chefcard">
            <img src="./assets/images/chef_2.jpg?as=webp" class="rounded-[3px]" alt="Gumersindo Sánchez"
              loading="lazy">
            <div class="p-4">
              <h5 class="mb-2 leading-tight text-center text-[1.6rem] md:text-[1.25rem]">Gumersindo Sánchez</h5>
              <p class="mb-0 text-center text-[1.1rem] md:text-[1rem]">Gumersindo regresa tras haber ganado el concurso del año 2017 y como
                exganador es el favorito de este año.</p>
            </div>
          </div>

          <div class="chefcard">
            <img src="./assets/images/chef_3.jpg?as=webp" class="rounded-[3px]" alt="Enrique Sánchez"
              loading="lazy">
            <div class="p-4">
              <h5 class="mb-2 leading-tight text-center text-[1.6rem] md:text-[1.25rem]">Enrique Sánchez</h5>
              <p class="mb-0 text-center text-[1.1rem] md:text-[1rem]">Enrique es el hermano pequeño de Gumersindo, y su compañero de
                cocina. ¿Se verá el maestro superado por su aprendiz?</p>
            </div>
          </div>

          <div class="chefcard">
            <img src="./assets/images/chef_4.jpg?as=webp" class="rounded-[3px]" alt="Encarna Villa"
              loading="lazy">
            <div class="p-4">
              <h5 class="mb-2 leading-tight text-center text-[1.6rem] md:text-[1.25rem]">Encarna Villa</h5>
              <p class="mb-0 text-center text-[1.1rem] md:text-[1rem]">Encarna lleva participando en el concurso de <strong>Chefs de
                Pueblo</strong> desde hace más de una década. ¿Ganará este año al fin el primer premio?</p>
            </div>
          </div>

          <div class="chefcard">
            <img src="./assets/images/chef_5.jpg?as=webp" class="rounded-[3px]" alt="Maria José López"
              loading="lazy">
            <div class="p-4">
              <h5 class="mb-2 leading-tight text-center text-[1.6rem] md:text-[1.25rem]">Maria José López</h5>
              <p class="mb-0 text-center text-[1.1rem] md:text-[1rem]">Maria José es una cocinera novata, pero con un gran espíritu de
                superación. No se deja intimidar por la experiencia de los demás chefs y ansía ganar el primer premio.</p>
            </div>
          </div>

          <div class="chefcard">
            <img src="./assets/images/chef_6.jpg?as=webp" class="rounded-[3px]" alt="Sebastián Logroño"
              loading="lazy">
            <div class="p-4">
              <h5 class="mb-2 leading-tight text-center text-[1.6rem] md:text-[1.25rem]">Sebastián Logroño</h5>
              <p class="mb-0 text-center text-[1.1rem] md:text-[1rem]">Sabastián Logroño se ha convertido en un chef de renombre fuera del
                pueblo. ¿Podrá su experiencia en la gran ciudad eclipsar a los <strong>Chefs de Pueblo</strong>?</p>
            </div>
          </div>
      
    </div>
</div>