<footer class="pt-[60px]">
    <div class="mb-[60px]">
        <p class="text-center mb-2.5 pb-0">Actividad realizada por Jesús Chica Martínez.</p>
        <p class="text-center mb-2.5 pb-0">Todas las imágenes utilizadas en esta web son de dominio público y/o se encuentran
            bajo
            la licencia <a class="text-links underline hover:text-links-hover"
                href="https://creativecommons.org/publicdomain/zero/1.0/deed.es">CC0</a>.
            Imágenes obtenidas de <a href="https://pxhere.com/" class="text-links underline hover:text-links-hover">pxhere</a>.</p>
        <p class="text-center mb-2.5 pb-0">Logo: <a class="text-links underline hover:text-links-hover" href="https://www.flaticon.com/free-icons/food-and-restaurant"
                title="food and restaurant icons">Food and restaurant icons created by Agung Rama - Flaticon</a></p>
        <p class="text-center mb-2.5 pb-0">Los textos extraídos y modificados de la Wikipedia se encuentran bajo la licencia
            <a class="text-links underline hover:text-links-hover" href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA-4.0</a>.</p>
        <p class="text-center mb-2.5 pb-0">Para cumplir con la cláusula <em lang="en">copyleft</em> de la Licencia <a class="text-links underline hover:text-links-hover"
                href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA-4.0</a>, el
            contenido de esta web se
            adhiere a la misma licencia.</p>
    </div>
    <nav class="px-[2%] py-2 md:px-[5%] lg:px-[10%] border-b-[solid] h-[79px] bg-tertiary">
        <div class="flex flex-wrap items-center justify-between mx-auto px-2 h-[60px]">
            <a class="flex items-center space-x-2" href="index.html">
                <img src="./assets/images/logo.png?width=50" alt="Logo" width="50" height="50"
                    class="inline-block align-middle">
                <span class="self-center text-2xl text-logo font-bold text-shadow-logo shadow-[rgba(0,0,0,0.7)] font-logo whitespace-nowrap">Chefs de pueblo</span>
            </a>
            <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Abrir menú principal</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto flex-grow" id="navbar-default">
                <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0 justify-evenly">
                  <li class="block py-2 px-3">
                    <a id="nav-link-footer-1" href="index.html" class="transition-colors ease-in-out duration-150 md:p-0">Los chefs</a>
                  </li>
                  <li class="block py-2 px-3">
                    <a id="nav-link-footer-2" href="galeria.html" class="transition-colors ease-in-out duration-150 md:p-0">Galería</a>
                  </li>
                  <li class="block py-2 px-3">
                    <a id="nav-link-footer-3" href="#" class="transition-colors ease-in-out duration-150 md:p-0">Página IA</a>
                  </li>
                </ul>
              </div>
              <div class="hidden w-full md:block md:w-auto" id="navbar-default2">
                <ul class="flex flex-col md:flex-row">
                    <li>
                        <a class="px-2 text-navlink transition-colors ease-in-out duration-150 hover:text-navlink-hover" href="#">
                            <i class="fa-brands fa-google-plus-g"></i>
                        </a>
                    </li>
                    <li>
                        <a class="px-2 text-navlink transition-colors ease-in-out duration-150 hover:text-navlink-hover" href="#">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a class="px-2 text-navlink transition-colors ease-in-out duration-150 hover:text-navlink-hover" href="#">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                  </ul>
                
            </div>
        </div>
    </nav>
</footer>