<div class="gallery px-[2%] md:px-[5%] lg:px-[10%]">
  <h1 class="lg:text-[2.8rem] mb-2 text-center text-[2.5rem] py-[43px]">Galería de fotos</h1>
  <div class="flex flex-row flex-wrap gap-[75px_30px] justify-center">
    <div class="relative w-[40dvmax] xs:w-[30dvmax] md:w-[20dvmax]">
      <a href="./assets/images/gallery_1.jpg?as=webp">
        <img class="block w-full h-auto rounded-[5px]" src="./assets/images/gallery_1.jpg?as=webp&width=300" alt="Aceite de oliva"
          loading="lazy">
        <div class="absolute w-full h-full bg-[oklch(40.1%_0.123_21.57deg_/_70%)] opacity-0 transition-[0.5s] duration-[ease] rounded-[5px] inset-0 hover:opacity-100">
          <div class="absolute text-xl text-white text-center -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
      </a>
    </div>
    <div class="relative w-[40dvmax] xs:w-[30dvmax] md:w-[20dvmax]">
      <a href="./assets/images/gallery_2.jpg?as=webp">
        <img class="block w-full h-auto rounded-[5px]" src="./assets/images/gallery_2.jpg?as=webp&width=300" alt="Platos de comida"
          loading="lazy">
        <div class="absolute w-full h-full bg-[oklch(40.1%_0.123_21.57deg_/_70%)] opacity-0 transition-[0.5s] duration-[ease] rounded-[5px] inset-0 hover:opacity-100">
          <div class="absolute text-xl text-white text-center -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
      </a>
    </div>
    <div class="relative w-[40dvmax] xs:w-[30dvmax] md:w-[20dvmax]">
      <a href="./assets/images/gallery_3.jpg?as=webp">
        <img class="block w-full h-auto rounded-[5px]" src="./assets/images/gallery_3.jpg?as=webp&width=300" alt="Olivos" loading="lazy">
        <div class="absolute w-full h-full bg-[oklch(40.1%_0.123_21.57deg_/_70%)] opacity-0 transition-[0.5s] duration-[ease] rounded-[5px] inset-0 hover:opacity-100">
          <div class="absolute text-xl text-white text-center -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
      </a>
    </div>
    <div class="relative w-[40dvmax] xs:w-[30dvmax] md:w-[20dvmax]">
      <a href="./assets/images/gallery_4.jpg?as=webp">
        <img class="block w-full h-auto rounded-[5px]" src="./assets/images/gallery_4.jpg?as=webp&width=300" alt="Platos de comida"
          loading="lazy">
        <div class="absolute w-full h-full bg-[oklch(40.1%_0.123_21.57deg_/_70%)] opacity-0 transition-[0.5s] duration-[ease] rounded-[5px] inset-0 hover:opacity-100">
          <div class="absolute text-xl text-white text-center -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
      </a>
    </div>
    <div class="relative w-[40dvmax] xs:w-[30dvmax] md:w-[20dvmax]">
      <a href="./assets/images/gallery_5.jpg?as=webp">
        <img class="block w-full h-auto rounded-[5px]" src="./assets/images/gallery_5.jpg?as=webp&width=300" alt="Platos de comida"
          loading="lazy">
        <div class="absolute w-full h-full bg-[oklch(40.1%_0.123_21.57deg_/_70%)] opacity-0 transition-[0.5s] duration-[ease] rounded-[5px] inset-0 hover:opacity-100">
          <div class="absolute text-xl text-white text-center -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
      </a>
    </div>
    <div class="relative w-[40dvmax] xs:w-[30dvmax] md:w-[20dvmax]">
      <a href="./assets/images/gallery_6.jpg?as=webp">
        <img class="block w-full h-auto rounded-[5px]" src="./assets/images/gallery_6.jpg?as=webp&width=300" alt="Platos de comida"
          loading="lazy">
        <div class="absolute w-full h-full bg-[oklch(40.1%_0.123_21.57deg_/_70%)] opacity-0 transition-[0.5s] duration-[ease] rounded-[5px] inset-0 hover:opacity-100">
          <div class="absolute text-xl text-white text-center -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
      </a>
    </div>
    <div class="relative w-[40dvmax] xs:w-[30dvmax] md:w-[20dvmax]">
      <a href="./assets/images/gallery_7.jpg?as=webp">
        <img class="block w-full h-auto rounded-[5px]" src="./assets/images/gallery_7.jpg?as=webp&width=300" alt="Platos de comida"
          loading="lazy">
        <div class="absolute w-full h-full bg-[oklch(40.1%_0.123_21.57deg_/_70%)] opacity-0 transition-[0.5s] duration-[ease] rounded-[5px] inset-0 hover:opacity-100">
          <div class="absolute text-xl text-white text-center -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
      </a>
    </div>
    <div class="relative w-[40dvmax] xs:w-[30dvmax] md:w-[20dvmax]">
      <a href="./assets/images/gallery_8.jpg?as=webp">
        <img class="block w-full h-auto rounded-[5px]" src="./assets/images/gallery_8.jpg?as=webp&width=300" alt="Olivos" loading="lazy">
        <div class="absolute w-full h-full bg-[oklch(40.1%_0.123_21.57deg_/_70%)] opacity-0 transition-[0.5s] duration-[ease] rounded-[5px] inset-0 hover:opacity-100">
          <div class="absolute text-xl text-white text-center -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
      </a>
    </div>
    <div class="relative w-[40dvmax] xs:w-[30dvmax] md:w-[20dvmax]">
      <a href="./assets/images/gallery_9.jpg?as=webp">
        <img class="block w-full h-auto rounded-[5px]" src="./assets/images/gallery_9.jpg?as=webp&width=300" alt="Platos de comida"
          loading="lazy">
        <div class="absolute w-full h-full bg-[oklch(40.1%_0.123_21.57deg_/_70%)] opacity-0 transition-[0.5s] duration-[ease] rounded-[5px] inset-0 hover:opacity-100">
          <div class="absolute text-xl text-white text-center -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
      </a>
    </div>
  </div>
</div>