<div class="gallery px-[2%] md:px-[5%] lg:px-[10%]">
  <h1 class="lg:text-[2.8rem] mb-2 text-center text-[2.5rem] py-[43px]">Galería de fotos</h1>
  <div class="flex flex-row flex-wrap gap-[75px_30px] justify-center">
    <div class="galleryimage">
      <a href="./assets/images/gallery_1.jpg?as=webp">
        <img class="block w-full h-auto rounded-[5px]" src="./assets/images/gallery_1.jpg?as=webp&width=300" alt="Aceite de oliva"
          loading="lazy">
        <div class="galleryimage-lightbox">
          <div class="galleryimage-lightbox-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
      </a>
    </div>
    <div class="galleryimage">
      <a href="./assets/images/gallery_2.jpg?as=webp">
        <img class="block w-full h-auto rounded-[5px]" src="./assets/images/gallery_2.jpg?as=webp&width=300" alt="Platos de comida"
          loading="lazy">
        <div class="galleryimage-lightbox">
          <div class="galleryimage-lightbox-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
      </a>
    </div>
    <div class="galleryimage">
      <a href="./assets/images/gallery_3.jpg?as=webp">
        <img class="block w-full h-auto rounded-[5px]" src="./assets/images/gallery_3.jpg?as=webp&width=300" alt="Olivos" loading="lazy">
        <div class="galleryimage-lightbox">
          <div class="galleryimage-lightbox-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
      </a>
    </div>
    <div class="galleryimage">
      <a href="./assets/images/gallery_4.jpg?as=webp">
        <img class="block w-full h-auto rounded-[5px]" src="./assets/images/gallery_4.jpg?as=webp&width=300" alt="Platos de comida"
          loading="lazy">
        <div class="galleryimage-lightbox">
          <div class="galleryimage-lightbox-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
      </a>
    </div>
    <div class="galleryimage">
      <a href="./assets/images/gallery_5.jpg?as=webp">
        <img class="block w-full h-auto rounded-[5px]" src="./assets/images/gallery_5.jpg?as=webp&width=300" alt="Platos de comida"
          loading="lazy">
        <div class="galleryimage-lightbox">
          <div class="galleryimage-lightbox-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
      </a>
    </div>
    <div class="galleryimage">
      <a href="./assets/images/gallery_6.jpg?as=webp">
        <img class="block w-full h-auto rounded-[5px]" src="./assets/images/gallery_6.jpg?as=webp&width=300" alt="Platos de comida"
          loading="lazy">
        <div class="galleryimage-lightbox">
          <div class="galleryimage-lightbox-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
      </a>
    </div>
    <div class="galleryimage">
      <a href="./assets/images/gallery_7.jpg?as=webp">
        <img class="block w-full h-auto rounded-[5px]" src="./assets/images/gallery_7.jpg?as=webp&width=300" alt="Platos de comida"
          loading="lazy">
        <div class="galleryimage-lightbox">
          <div class="galleryimage-lightbox-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
      </a>
    </div>
    <div class="galleryimage">
      <a href="./assets/images/gallery_8.jpg?as=webp">
        <img class="block w-full h-auto rounded-[5px]" src="./assets/images/gallery_8.jpg?as=webp&width=300" alt="Olivos" loading="lazy">
        <div class="galleryimage-lightbox">
          <div class="galleryimage-lightbox-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
      </a>
    </div>
    <div class="galleryimage">
      <a href="./assets/images/gallery_9.jpg?as=webp">
        <img class="block w-full h-auto rounded-[5px]" src="./assets/images/gallery_9.jpg?as=webp&width=300" alt="Platos de comida"
          loading="lazy">
        <div class="galleryimage-lightbox">
          <div class="galleryimage-lightbox-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
      </a>
    </div>
  </div>
</div>